*.lo
*.o
*.so
*.la
*.a
*.log
*.gch

.dirstamp
.libs
.deps
aclocal.m4
autom4te.cache
config.guess
config.h
config.h~
config.h.in
config.log
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
m4
missing
stamp-h1

lib
bin
sbin
